/**
 * Custom Styles
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  font-size: 1.9rem;
}

.collection {
  margin-top: 0;
}

.collection .secondary-title {
  font-size: 14px;
  color: #757575;
}

div.filter {
  margin-bottom: 5px;
}

p.small {
  font-size: 0.85rem;
  margin-right: 0.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * https://github.com/Dogfalo/materialize/pull/5061
 */
.fixed [type="checkbox"] + label,
.fixed [type="radio"] + label {
  pointer-events: auto;
}
